.cfbutton {
    position: absolute;
    right: 1.7em;
    top: 4.2em;
    z-index: 29;
    height: 2.5em;
    cursor: pointer;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.60);
    border-radius: 2em;
}

.cfbutton:hover {
    transform: scale(1.1);
}

.pulse:not(:hover) {
    animation-name: pulse;
    animation-duration: 1000ms;
    transform-origin: 50% 50%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pulse {
    0% { transform: scale(1); box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.60); }
    30% { transform: scale(1); box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.60); }
    40% { transform: scale(1.4); box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.60); }
    50% { transform: scale(1); box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.60); }
    60% { transform: scale(1); box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.60); }
    70% { transform: scale(1.2); box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.60); }
    80% { transform: scale(1); box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.60); }
    100% { transform: scale(1); box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.60); }
}