.sidebar {
    position: absolute;
    right: 0;
    width: 45%;
    max-width: 30em;
    z-index: 70;
    background-color: rgba(0, 0, 0, 0.43);
    display: flex;
    flex-direction: column;
    max-height: 100%;
    transition: width 0.2s;
    opacity: 0.6;
}

.sidebar:hover {
    opacity: 1.0;
}

.sidebar.collapsed {
    transform: translateX(100%);
}

.slideIn {
    animation: slideIn 0.3s forwards;
    -webkit-animation: slideIn 0.3s forwards;
}

.slideOut {
    animation: slideOut 0.3s forwards;
    -webkit-animation: slideOut 0.3s forwards;
}

@keyframes slideIn {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}

@keyframes slideOut {
    0% { transform: translateX(0%); }
    100% { transform: translateX(100%); }
}

.sidebarHeader {
    background: rgba(0, 0, 0, 0.75);
    padding: 2px 7px 4px;
    font-size: 1.5em;
    border: 1px solid #2f2f2f;
}

.sidebarHeader h1 {
    display: inline-block;
}

.title {
    font-size: 1em;
}

.title:hover {
    font-size: 1em;
    text-decoration: underline;
}

.sidebarContent {
    overflow-y: auto;
}

.actionsLinks {
    text-align: center;
    padding: 3px;
    border: 1px solid #2f2f2f;
    border-top: none;
}

.statementsList > *:not(:last-child) {
    border-bottom: 1px solid #111111;
}

a.jumpLink {
    margin: 0 5px;
    user-select: none;
    cursor: pointer;
}

a.jumpLink.disabled {
    pointer-events: none;
    color: rgba(150, 150, 150, 0.74);
}