.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 0;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1em;
    height: 1.5em;
    line-height: 1.5;
    position: relative;
    vertical-align: top;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
    border: 1px solid #dbdbdb;
    color: #363636;
    cursor: pointer;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: calc(0.375em - 1px) 0.75em;
    text-align: center;
    white-space: nowrap;
    border-color: #6ba3a7;
    border-radius: 4px;
    padding: 0.8em 1em;
    color: #6ba3a7;
}

.button:hover {
    background-color: #6ba3a7;
    border-color: #6ba3a7;
    color: #fff;
}

.button.active {
    background-color: #2ebe00;
    border-color: transparent;
    box-shadow: inset 0 1px 10px rgba(10, 10, 10, 0.43);
    color: #fff;
}

.button.active[data-value=OFF] {
    background-color: #f73d57;
}

.primary {
    background-color: #6ba3a7;
    border-color: #0000;
    color: #fff;
}

.primary:hover {
    background-color: #639ea2;
    border-color: #0000;
    color: #fff;
}