.control {
    display: flex;
    flex-direction: row;
}

.control:not(:first-child) {
    border-top: 1px solid lightgrey;
}

.control label {
    padding: 0.75em;
    padding-right: 1.5em;
    color: #363636;
    font-weight: 700;
    flex-grow: 1;
}
