.videosList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-height: 280px;
  overflow-y: auto;
  padding: 8px 3px;
}

.videoCard {
  flex-basis: 47%;
  border: 1px solid lightgrey;
  margin: 4px;
}

.title {
  padding: 0.5em;
  color: #0a0d10;
  text-align: center;
}

.title:hover {
  color: rgba(10,13,16,.7);
}

.videoCard img {
  max-width: 100%;
}

.videoCard:hover img {
  opacity: 0.9;
}