<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>CaptainFact</title>
  </head>
  <body>
    <div id="root"></div>
    <script src="/js/inject.bundle.js"></script>
  </body>
</html>
