doctype html

html
  head
    meta(charset='UTF-8')
    title CaptainFact
    style.
      body { 
        width: 100%;
        min-width: 420px;
        max-width: 440px;
        min-height: 400px;
        overflow-y: scroll;
        padding: 0; 
        margin: 0;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
      }

  body
    #root
    script(src= ['staging', 'prod'].includes(env) ? '/js/popup.bundle.js' : 'http://localhost:3000/js/popup.bundle.js')
