.approvingFact, .refutingFact, .regularFact {
    display: block;
    border-bottom: 1px solid #666565;
}

.sourceSection {
    padding: 5px 10px;
}

.scoreTag {
    font-size: 1em;
    height: 1.2em;
    background: rgba(255, 255, 255, 0.70);
    padding: 0 5px;
    font-family: sans-serif;
    border-radius: 4px;
    float: right;
}

.userSection {
    font-size: 0.8em;
    padding: 2px 10px;
    background-color: #4a4343;
}

/* Approving facts */

.approvingFact > .sourceSection {
    background-color: #2EBE00;
}

.approvingFact > .sourceSection:hover {
    background-color: #2bb300;
}

.approvingFact > .userSection {
    background-color: #228c00;
}

.approvingFact .scoreTag {
    color: green;
}

/* Refuting facts */

.refutingFact > .sourceSection {
    background-color: #c5132c;
}

.refutingFact > .sourceSection:hover {
    background-color: #bd122a;
}

.refutingFact > .userSection {
    background-color: #8a2b38;
}

.refutingFact .scoreTag {
    color: red;
}

/* Regular fact */
.regularFact > .sourceSection {
    background: #636363;
}

.regularFact .scoreTag {
    color: black;
}